<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teste Github Actions</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <center>
        <h1>Olá Github Actions</h1>
        <p>Estou testando o arquivo yml para deploy e testes automaticos</p>
        <p>Estou utilizando o flask para criar este site</p>
    </center>


</body>

</html>